<h1>{{ object.question_text }}</h1>
<p>Publicated day : {{ question.pub_date }}</p>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{#{% if question.choice_set %}#}
{#    <h2>Respuestas asignadas</h2>#}
{#    <ul>#}
{#        {% for choices in question.choice_set.all %}#}
{#            <li>{{ choices }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#{% else %}#}
{#    <p>Sin respuestas </p>#}
{#{% endif %}#}

<form action="{% url 'polls:vote' question.id %}" method="POST">
    {% csrf_token %} <!-- Nunca olvidar colocar esto en TODOS los formularios POST que se hagan -->
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br/>
    {% endfor %}
    <input type="submit" value="Vote">
</form>