{% load static %}
<link rel="stylesheet" href="{% static "polls/style.css" %}">
{% if list_questions %}
    <ul>
        {% for question in list_questions %}
            <!-- El id se crea automaticamente -->
            <li><a href="{{ question.id }}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls available</p>
{% endif %}